<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>NICORETTE®</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        
	<!-- Bootstrap core CSS -->
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<link href="{{ asset('desktop/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('desktop/css/bootstrap-reset.css') }}" rel="stylesheet">
       
	<!--external css-->
	<link href="{{ asset('desktop/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
              
	<!-- Custom styles for this template -->
	<link href="{{ asset('desktop/css/normalize.css') }}" rel="stylesheet">
	<link href="{{ asset('desktop/css/style.css') }}" rel="stylesheet">
	<link href="{{ asset('desktop/css/style-responsive.css') }}" rel="stylesheet" />
	<link href="{{ asset('desktop/css/idangerous.swiper.css') }}" rel="stylesheet" />	
	<link href="{{ asset('desktop/css/custom.css') }}" rel="stylesheet" />
	<link href="{{ asset('desktop/css/custom-responsive.css') }}" rel="stylesheet" />
	<link href="{{ asset('desktop/css/css.css') }}" rel="stylesheet" />
	<link href="{{ asset('desktop/css/jquery-ui-1.10.1.custom.min.css') }}" rel="stylesheet" />
	<script type="text/javascript">
			var css_link = "../desktop/css/janrain.css";
			localStorage.setItem('device', '{{ device }}');
	</script>  
	<script src="{{ asset('desktop/js/vendor/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('desktop/js/vendor/janrain-init.js') }}"></script>
    <script type="text/javascript">
        // --- page-specific settings ------------------------------------------
        janrain.settings.capture.screenToRender = 'resetPasswordRequestCode';

        // --- define event handlers and start the janrain ui ------------------
        function janrainCaptureWidgetOnLoad() {
            // should be the last line in janrainCaptureWidgetOnLoad()
            janrain.events.onCaptureRenderComplete.addHandler(function(result) {
               $('input#capture_resetPasswordRequestCode_traditionalSignIn_emailAddress').attr('placeholder','Votre Email');
               
               $('input#capture_resetPasswordRequestCode_forgotPassword_sendButton').val('Soumettre');
            });
            
            janrain.capture.ui.start();
        }
        
        
    </script>
</head>
<body class="relative">
   	<div id="container" >
	      <header class="header white-bg">
                <div class="Head-text desktop">
					<div class="title text-center">J’accomplis l'incroyable</div>
				 </div>
		                 
				 <div class="Head-text mobile">
					<a href="javascript:history.back()" class="back-mobile back left"  >Retour</a>
					<div class="title-mobile text-center">Réinitialiser votre mot de passe</div>
				</div>
				<a href="/" class="logo"></a>
			</header>
           <!--main content start-->
	              <div id="main-content" class="over">
	                         <!-- wrapper start-->
	                         <div class="wrapper">
	                             <div class="row">
	                                 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
	                                
			                         <!-- Mot de passe oublié -->
				                     <div style="display:none;" id="resetPassword">
								        <div class="capture_backgroundColor">
									       {* #newPasswordForm *}
									           <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mobile-bg-gris">
											           <div class="mg-auto container-col pad-bottom-25-mobile">
					                                          <h3 class="text-center h3-green desktop">Réinitialiser votre mot de passe</h3>
					                                          <p class="text-left txt-form-home pad-bottom-25-mobile"></p>
					                                          <div class="pad-bottom-10 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					                                              <!--<input type="text" class="mg-auto-mobile custom-input" ng-model="person.email" name="email" placeholder="Nouveau mot de passe"/>-->
					                                             {* newpassword *}
					                                             <span class="inp-ico-pass"></span>
					                                          </div>
					                                          
					                                          <div class="pad-bottom-10 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					                                            <!--  <input type="text" class="mg-auto-mobile custom-input" ng-model="person.email" name="email" placeholder="Confirmer"/>-->
					                                             {* newpasswordConfirm *}
					                                             <span class="inp-ico-conf"></span>
					                                          </div>

					                                          <!-- <a href="javascript:void(0)" class="marg-top-25-mobile type-bt-green bt-postion-bottom mg-auto-mobile pad-bottom-10" >Valider</a> -->
					                                          <div class="btn-submit center">{* submitButton *} </div>
					                                    </div> 
									            </div>
									        {* /newPasswordForm *} 
								        </div>
								     </div>
								     
								       

	                                 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
	                            </div>
	                       </div>
						    <div style="display:none;" id="resetPasswordSuccess">
						        <div class="row reset-PD-success center">
				                 	  <img src="{{ asset('/desktop/images/RP-success.png')}}">
				                      <h2 class="desktop">Votre mot de passe a bien été modifié.</h2>
				                      <h2 class="mobile">Votre mot de passe a<br/> bien été modifié.</h2>
				                      <p>Vous pouvez vous connecter à nouveau</p> 
				                      <a class="type-bt-green" href="/">Se connecter</a> 	        
	                			</div>
						    </div>
						    <div style="display:none;" id="resetPasswordRequestCode">
						      <div class="row">
	                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							       <div class="content-reset-pwd">
							         <img src="../desktop/images/icon-echec.png"  />	 
							         <p>Nous n'avons pas reconnu le code de réinitialisation de votre mot de passe.</p> 
	                                 <!--<p>Veuillez entrer votre email pour en obtenir un nouveau</p> -->
							        <div style="display:none;">
							      		{* #resetPasswordForm *}
							            {* traditionalSignIn_emailAddress *}
							            <div class="capture_footer">
							                {* forgotPassword_sendButton *}
							            </div>
							            {* /resetPasswordForm *}
							        </div>    
							            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center btn-reset">
	                                      <a class="type-bt-green bt-width " href="/" style="display: inline-block;margin-top: 25px;">Retour</a>
	                                    </div>
							        </div>
							     </div>
							   </div>     
						    </div>
						    <div style="display:none;" id="resetPasswordRequestCodeSuccess">
						        <div class="capture_header">
						            <h1>Nouveau mot de passe</h1>
						        </div>
						            <p>Email envoyé ! Votre demande a bien été prise en compte. Merci de vérifier vos emails.</p>
						        <div class="capture_footer">
						            <a href="#" onclick="janrain.capture.ui.modal.close()" class="capture_btn capture_primary">Fermer</a>
						        </div>
						    </div>
	                       <!-- wrapper end-->
	              </div>
	                        <!--main content end-->  
		          <footer class="site-footer desktop" >
		          	<ul class="mg-auto links-footer">
						<li><a href="/infos-legales/confidentialite">Politique de confidentialité</a></li>
						<li><a href="/infos-legales/CGU">Conditions Générales d'Utilisation </a></li>
						<li><a href="/infos-legales/cookies">Politique d'utilisation des cookies</a></li>
					</ul>
					<p class="text-center">
						Médicament contenant de la nicotine. Patch, gomme et inhaleur : pas avant 15 ans, Microtab, nicorette comprimés à sucer et NICORETTESPRAY® : pas avant 18 ans. L’arrêt définitif de la consommation de tabac est<br/> 
						préférable. Contient de l’alcool (NICORETTESPRAY®). Demandez conseil à votre pharmacien. En cas de difficulté, consulter votre médecin. Lire attentivement la notice.<br/>
						 L’arrêt immédiat de la consommation est préférable. M14NI348 – 14/09/6 504 345 1/GP/002 »
					</p>
		                       
					 <p class="text-center">
						 © Johnson & Johnson Santé Beauté France S.A.S. 2014<br/> 
						 Cette application est publiée par Jonhson & Jonhson Santé Beauté France SAS. La responsabilité de son contenu lui en incombe. Cette application est destinée au public français.
					</p>              
					</footer>
					<div class="footer-mobile mobile">
						<p>
							Médicament contenant de la nicotine. Patch, gomme et inhaleur : pas avant 15 ans, Microtab, nicorette comprimés à sucer et NICORETTESPRAY® : pas avant 18 ans. L’arrêt définitif de la consommation de tabac est préférable. Contient de l’alcool (NICORETTESPRAY®). Demandez conseil à votre pharmacien. En cas de difficulté, consulter votre médecin. Lire attentivement la notice. L’arrêt immédiat de la consommation est préférable. M14NI348 – 14/09/6 504 345 1/GP/002 »
						</p>
						<p>
							© Johnson & Johnson Santé Beauté France S.A.S. 2014<br/> 
							Cette application est publiée par Jonhson & Jonhson Santé Beauté France SAS. La responsabilité de son contenu lui en incombe. Cette application est destinée au public français.
						</p>
					</div>
              
	</div>
	<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function() {
			console.log('oui');
			$("#capture_resetPassword_newpassword").attr("placeholder","Nouveau mot de passe");
		    $("#capture_resetPassword_newpasswordConfirm").attr("placeholder","Confirmer"); 
                    
                    $('#capture_resetPassword_newPasswordForm').submit(function (event) {
                        // Validate password
                        var PASSWD_REGEXP = /(?=^.{8,21}$)(?=(?:.*?\d){1})(?=.*[A-Z]{1})(?!.*\s)[0-9a-zA-Z!@#$%^&*()<>_-]*$/;
                        if (!PASSWD_REGEXP.test($('#capture_resetPassword_newpassword').val())) {
                            $('#capture_resetPassword_form_item_newpassword .capture_tip_error').html("Merci de saisir un mot de passe valide.");
                            $('#capture_resetPassword_form_item_newpassword .capture_tip_error').css("display", "block");
                            $('#capture_resetPassword_submitButton').css("display", "");
                            $('.janrain-capture-ui .capture_processing').css("display", "none");
                            event.preventDefault();
                        }else{
                            $('#capture_resetPassword_form_item_newpassword .capture_tip_error').css("display", "none");
                        }
                        // End validate password
                    });
                    
		}, 2000);
	});
	
	 	
	</script>
</body>
</html>